<div class="pure-menu pure-menu-horizontal">
    <ul>
        <li class="pure-menu-item"><a href="https://twitter.com/gustav_lindblom" class="pure-menu-link">Twitter</a></li>
        <li class="pure-menu-item"><a href="https://github.com/glindblom/" class="pure-menu-link">GitHub</a></li>
        <li class="pure-menu-item"><a href="https://www.linkedin.com/in/gustav-lindblom-a1529912a/" class="pure-menu-link">LinkedIn</a></li>
    </ul>
</div>